.hello {
    
}

.img-wrapp {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100%;
}

img {
    margin: auto;
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
}